<footer>
    <div class="footerDark">
        <div class="d-flex justify-content-center">
            <p>Accueil</p>
            <p>A propos</p>
            <p>Légendes</p>
            <p>Faq</p>
            <p>Config PC</p>
            <p>Actus</p>
            <p>Média</p>
            <p>Forums</p>
            <p>Jouer gratuitement</p>
        </div>

        <div class="footerImg"> 
            <img class="image1" src="../../assets/img/Home/logo1.png" alt="">
            <img class="image2 " src="../../assets/img/Home/logo2.png" alt="">
            <img class="image3 " src="../../assets/img/Home/logo3.svg" alt="">
         
        </div>
    
    </div>
    
    <div class="footerLight">
        <div class="nav d-flex justify-content-center align-items-center">
            <img src="../../assets/img/Home/EA.png" alt="">
            <p>Parcourir les jeux</p>
            <p>A propos</p>
            <p>Assistance</p>
            <p>Acheter sur Origin</p>
        </div>
    
        <div class="mention d-flex justify-content-center align-items-center">
            <a href="">Mentions légales </a> <a href=""> Contrat Utilisateur</a>
            <p>Politique relative à la protection des données personnelles et aux cookies (Votre droit à la confidentialité)
            </p>
        </div>
    </div>
</footer>


<!-- <div ngbNav #nav="ngbNav" class="nav-tabs justify-content-around">

    <div class="row ">
        <div class="row ">

            <img class="logo" src="../../assets/img/logo.png" routerLink="/" alt="">


            <div class="col d-flex align-items-center">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn NavButton" id="dropdownBasic1" ngbDropdownToggle>A propos</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>A propos d'Apex Legends</button>
                    <button ngbDropdownItem>Cartes</button>
                    <button ngbDropdownItem>FAQ</button>
                    <button ngbDropdownItem>Configuration PC requise</button>
                    <button ngbDropdownItem>Crédits</button>
                  </div>
                </div>
              </div>
          
              <button type="button" class="btn NavButton" routerLink="/Legends">Légends</button>
      
              <div class="col d-flex align-items-center">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn NavButton" id="dropdownBasic1" ngbDropdownToggle>Saisons</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Saison - 7</button>
                    <button ngbDropdownItem>Saison - 6</button>
                    <button ngbDropdownItem>Saison - 5</button>
                    <button ngbDropdownItem>Saison - 4</button>
                    <button ngbDropdownItem>Saison - 3</button>
                    <button ngbDropdownItem>Saison - 2</button>
                    <button ngbDropdownItem>Saison - 1</button>
                  </div>
                </div>
              </div>
          
              <button type="button" class="btn NavButton">Passe de combat</button>
      
      
              <div class="col d-flex align-items-center">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn NavButton" id="dropdownBasic1" ngbDropdownToggle>Actus</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Dernières actus</button>
                    <button ngbDropdownItem>Mises à jour du jeu</button>
                    <button ngbDropdownItem>Médias récents</button>
                  </div>
                </div>
              </div>
      
              <button type="button" class="btn NavButton">Forums</button>
          
              <div class="col d-flex align-items-center">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn NavButton" id="dropdownBasic1" ngbDropdownToggle>Jeu compétitif</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Jeu compétitif</button>
                    <button ngbDropdownItem>Directives pour compétions communautaires</button>
                  </div>
                </div>
              </div>
          
              <div class="col d-flex align-items-center">
                <div ngbDropdown class="d-inline-block ">
                  <button class="btn NavButton" id="dropdownBasic1" ngbDropdownToggle>Boutique</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Playapexshop.com</button>
                    <button ngbDropdownItem>Editions Légendes</button>
                  </div>
                </div>
              </div>

             
        </div>
       
    </div>

    <div class=" d-flex align-items-center">
        <div ngbDropdown class="d-inline-block ">
          <button class="btn NavButtonDL " id="dropdownBasic1" ngbDropdownToggle>Télécharger gratuitement</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Origin sur PC</button>
            <button ngbDropdownItem>Steam sur PC </button>
            <button ngbDropdownItem>Playstation</button>
            <button ngbDropdownItem>Xbox</button>
          </div>
        </div>
    </div>
  

</div> -->

