

<div class="cover">
    <div class="blockCover">
        <img src="../../assets/img/Home/logo.svg" alt="">
        <p>Pour PlayStation®4, PlayStation 5, Xbox One, Xbox Series X|S et PC via Origin et Steam.</p>
        <button type="button " class="btn buttonPlay col-6 col-lg-4" routerLink="https://google.com">Jouer gratuitement</button>
        <button type="button " class="btn buttonPlay col-6 col-lg-4" routerLink="/">Voir le trailer</button>
    </div>
</div>

<div class="LastActus">

    <h2>DERNIÈRES ACTUS</h2>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Home/actu1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guide cadeaux</h5>
          <p class="card-text">Trouver les bons cadeaux pour la Légende de votre vie peut s’avérer stressant. Découvrez notre guide de cadeaux d’Apex Legends !
        </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Home/actu2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event Holo-Fêtes</h5>
          <p class="card-text">
            La saison des fêtes commence avec de nouvelles récompenses, un mois d’offres spéciales et le retour du Polaire&nbsp;Express&nbsp;!
        </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Home/actu3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Skin Amazon prime</h5>
          <p class="card-text">La saison des fêtes commence avec de nouvelles récompenses, un mois d’offres spéciales et le retour du Polaire&nbsp;Express&nbsp;!</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

<div class="coverHorizon">
    <div class="blockCoverhorizon">
        <h2>HORIZON – MANIPULATRICE GRAVITATIONNELLE</h2>
        <p>Une brillante astrophysicienne qui s’est échappée d’un trou noir et cherche à appliquer sa maîtrise de la gravité pour honore…</p>
        <button type="button" class="btn " routerLink="/">Renconter Horizon</button>
    </div>
</div>


<div class="Evolution">
    <h2>LA NOUVELLE ÉVOLUTION DU BATTLE ROYALE</h2>
    <!-- <p>Prouvez vos talents dans Apex Legends, un jeu de tir Battle Royale Free-to-Play où des concurrents venus de toute la Frontière combattent ensemble pour la gloire et la fortune.</p> -->
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Home/coupe.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Des perso légendaires</h5>
          <p class="card-text">Découvrez une équipe évolutive de puissantes Légendes, qui possèdent toutes une personnalité, des forces et des capacités distinctes.
        </p>
         
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Home/gun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">L'escuade ultime</h5>
          <p class="card-text">
            Choisissez votre Légende, faites équipe avec deux autres joueurs maximum et combinez vos talents uniques pour être la dernière escouade en lice.
        </p>
         
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Home/skull.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Un battle royal stratégique</h5>
          <p class="card-text">Maîtrisez les capacités de votre Légende, prenez des décisions stratégiques en temps réel et exploitez les points forts de votre équipe pour triompher. </p>
         
        </div>
      </div>
</div>


<div class="DivLegend">
    <div class="col-12 col-lg-6">
        <img src="../../assets/img/Home/squad.png" >
    </div>
    
    <div class="blockDivLegend col-12 col-lg-6">
        
        <h2>LES LÉGENDES CHANGENT LA DONNE</h2>
        <p>
            Hors-la-loi, marginaux, vagabonds et escrocs : les Jeux Apex les accueillent tous. Découvrez ce que chaque Légende apporte à votre escouade.</p>
        <button type="button" class="btn" routerLink="/">Voir les légendes </button>
    </div>
</div>

<div class="Lancement">
    <div class="blockLancement">
        
        <h2>LANCEMENT DE LA SAISON 7 : ASCENSION</h2>
        <p>
            Dans Ascension, découvrez la carte Olympus, la nouvelle Légende Horizon, des véhicules, un système de clubs, un nouveau Passe….</p>
        <button type="button" class="btn" routerLink="/">En découvrir plus ...  </button>
    </div>
</div>

<div class="newsLetter">
    <div class="blocknewsLetter">
        <div class="title">
            <h2>S'INSCRIRE AUX ACTUALITÉS D'APEX LEGENDS™</h2>
            <p>
                Inscrivez-vous maintenant pour recevoir par e-mail les dernières actualités, mises à jour, présentations des coulisses, offres et plus encore relatives à Apex Legends™ (ainsi que d'autres actualités, produits, événements et promotions EA). </p>
        </div>

        <form >
            <label for="mail"></label>
            <input type="text" placeholder="Email" class="form-control">

            <label for="naissance"></label>
            <input type="date" placeholder="Date de naissance" class="form-control">

            <label for="pays"></label>
            <input type="text" placeholder="Pays" class="form-control">

            <br>
            
            <p><button type="radio">X</button> Je souhaite recevoir des actualités, et des informations sur les événements et promotions d'EA par e-mail en accord avec la Politique relative à la protection des données personnelles et aux cookies d'EA. Je peux me désinscrire à tout moment en modifiant mes préférences en matière d'e-mail, en envoyant un e-mail à privacy_policy@ea.com ou en écrivant à Electronic Arts Inc., ATTN: Email Opt-Out, 209 Redwood Shores Pkwy, Redwood City, CA 94065, États-Unis.</p>

            <button type="button" class="btn" routerLink="/">S'inscrire ...  </button>
        </form>
          
    </div>
</div>



<div class="playFree">
    <div class="blockplayFree">
        <div>
            <h2>JOUEZ GRATUITEMENT*</h2>
            <p>
                Sur PlayStation®4, PlayStation 5, Xbox One, Xbox Series X|S et PC via Origin et Steam. </p>
                <button type="button" class="btn" routerLink="/">S'inscrire ...  </button>
        </div>

    </div>

</div>
